@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "../../Assets/css/variables.css";

.bigcontainer {
  background-image: var(--radial-gradient-background);
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: grid;
  grid-template-columns: 700px auto;
  align-items: center;
  justify-content: center;
  height: 500px;
  justify-items: center;
}

.midcontainer {
  display: grid;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.smallcontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 5px solid var(--color-purple-background);
  border-style: outset;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: var(--box-shadows-landingPageComponent);
  background-color: var(--color-purple-background);
  min-width: 400px;
}

.logo {
  animation: rotation 2s infinite linear;
  filter: drop-shadow(10px 10px 10px black);
  grid-column-start: 1;
  grid-column-end: 2;
}

.linkAcceder {
  margin: 50px;
  padding: 30px;
  border: 5px solid var(--color-purple-background-button);
  border-radius: 20px;
  box-shadow: var(--box-shadows-landingPageComponent);
  color: var(--color-white-background);
  background-color: var(--color-purple-background-button);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  border-style: outset;
}

.linkAcceder:hover {
  border: 5px solid var(--color-purple-background-button);
  color: var(--color-purple-text-active);
  background-color: var(--color-purple-background);
  border-style: inset;
  font-weight: bold;
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

.title {
  font-weight: bold;
  text-shadow: 1px 1px 2px black,
    0 0 25px var(--color-lightyellow-shadow-tittle),
    0 0 5px var(--color-lightyellow-shadow-tittle);
}

.slogan {
  font-weight: bold;
}

.servicescontainer {
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.serviciostitle {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
}

.dispositivos {
  min-width: 200px;
}

.digitalizado {
  min-width: 200px;
}

.sencillez {
  min-width: 200px;
}

.icon {
  color: var(--color-orange-tertiary);
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .servicescontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .servicescontainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
