@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.bigcontainer {
  background-color: #9966ff;
  background-image: radial-gradient(#9966ff, #53008f);
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  height: 500px;
}

.midcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.smallcontainer {
  display: grid;
  row-gap: 50px;
  align-content: center;
  border-style: outset;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  background-color: #baacff;
  margin: 50px;
}

.logo {
  animation: rotation 2s infinite linear;
  filter: drop-shadow(10px 10px 10px black);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

.title {
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px #f3efba, 0 0 5px #f3efba;
}

.slogan {
  font-weight: bold;
}

/*
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media (max-width :1024px { body { width; 100%}}
*/
