@import "../../Assets/css/variables.css";

.profile {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.icon {
  padding-right: 5px;
}
.profile input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.profile input:focus {
  border-color: rgba(0, 0, 0, 0.5);
}

.profile button {
  color: #fffffe;
  margin-top: 20px;
  border-radius: 20px;
  height: 45px;
  width: 30%;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  border: none;
  background-color: #6246ea;
  cursor: pointer;
}

.buttonsForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.buttonsForm > button {
  width: 30%;
}

.title {
  padding-top: 10%;
  font-size: 1.8rem;
  text-align: center;
}

/* Media queries */
@media (min-width: 768px) {
  .profile {
  }
}

@media (min-width: 992px) {
  .profile {
  }
}
