@import "../../Assets/css/variables.css";

.main {
    display: flex;
}
.right {
    margin: 10px 10px 10px;
    max-width: 260px;
}
.left {
    width: 100%;
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    .main {
        flex-direction: column;
    }
    .right {
        max-width: unset;
    }
}
