@import "../../Assets/css/variables.css";

.main {
    display: flex;
}
.right {
    max-width: 260px;
}
.left {
    width: 100%;
}

body{
    background-image: var(--radial-gradient-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.comments__container{
    padding: 10px;
    box-shadow: var(--box-shadows-landingPageComponent);
    background-color: var(--color-purple-background-button);
    border-radius: 20px;
    border: 5px solid var(--color-purple-background-button);
    border-style: outset;
}

.comment{
    padding: 10px;
    box-shadow: var(--box-shadows-landingPageComponent);
    background-color: var(--color-purple-background);
    border-radius: 20px;
    border: 5px solid var(--color-purple-background);
    border-style: outset;
}

/* Media queries */

@media (max-width: 624px) {
    .main {
        display: inline-block;
    }
    .right {
        max-width: unset;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}